<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.finalProject">
<uses-permission android:name="android.permission.INTERNET" />
<uses-feature
    android:name="android.hardware.camera"
    android:required="true" />

<application
    android:allowBackup="true"
    android:fullBackupContent="true"
    android:icon="@mipmap/custom"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/custom"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <!-- <action android:name="android.intent.action.MAIN" /> -->
    <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
    <!-- </intent-filter> -->
    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".RecipeSearchPage"/>
    <activity android:name=".AudioActivity"/>
    <!--        <activity android:name=".ChatRoomActivity" />-->
    <activity android:name=".TicketDetails" />
    <activity android:name=".Covid" />
    <activity android:name=".TicketMaster" />

</application>

</manifest>